html, body {
    height: 100%;
}

body, button{
    color: #282C35;
    background-color: #F3F3F3;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

p, button {
    font-family: 'Source Sans Pro', sans-serif;
}

.primary--color {
    background: #4BBB7D;
}

.secondary--color {
    background-color: #FFCB03;
}

.tertiary--color {
    background-color: #FF585F;
}

.footer--color {
    color: #FFF;
}

.container {
    min-height: 100%;
    width: 320px;
    margin: 0 auto;
}


/* HEADER */
.header {
    padding: 15px 0;
}
.header__nav {
    padding-bottom: 10px;
}

.header__nav::after {
    content: ""; 
    clear: both;
    display: table;
}

.header__logo {
    margin: 0;
    font-size: 10px;
    font-weight: 500;
    float: left;
}

.highlight {
    position: relative;
}

.highlight::after {
    content: ""; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 2px;
    z-index: -1;
    transform: skew(-15deg);
    background: linear-gradient(60deg,#9BE15D, #39B385);
    opacity: 0.8;
}


/* NAVBAR */
.nav__bar {
    float: right;
    width: 20px; 
    height: 20px;
    position: relative;
}
.toggle__menu {
    position:absolute; 
    width: 20px;
    height: 3px;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    margin-left: -7.5px;
    background-color: #282C35;
}

.toggle__menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: inherit;
    top: -6px;
}

.toggle__menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: inherit;
    top: 6px;
}



/* HEADER BANNER */

.header__title, .header__subtitle {
    font-weight: 500;
}

.header__title {
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 0px;
}

.header__subtitle{
    font-size: 8px;
    letter-spacing: -0.2px;
    margin-bottom: 2px;
    margin-top: 5px;
}

.btn {
    font-family: 'Poppins';
    font-size: 8px;
    font-weight: normal;
    border: 0;
    padding: 0 0;
    color: #4BBB7D;
    letter-spacing: 0.2px;

}

/* MAIN CONTENT */
.features__section, .operations__section, .testimonial__section { 
    margin-top: 10px;
    padding-bottom: 20px;
}
.section__header {
    color: #4BBB7D;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin-bottom: 1.5px;
}

.section__description {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 0;
}

.features__header, .operations__header, .testimonial__header {
    font-size: 6px;
    font-weight: 500;
    margin-bottom: 1px;
    margin: 0;
}

.features__content, .operations__content, .testimonial__content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6px;
    line-height: 1.5;    
}

.operations__features, .testimonial__features {
    background-color: #FFF;
    margin: 0 auto;
    position: relative;
}

.testimonial__box, .operations__box {
    padding: 20px;

}

 .operations__content, .testimonial__content {
    font-size: 6px;
    margin: 0;
}

.operations__header, .testimonial__header {
    margin-bottom: 5px;
}

.testimonial__selectors {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -40px; /*twice the containers width*/
    transform: translate(50%, -50%);
}

.testimonial__selector__btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

.slider {
    text-align: center;
}

.slider--btn{
    border: none;
    background-color: gray;
}

.footer {
    padding: 20px;
    background-color: #282C35;
    text-align: center;
}

.footer__section {
    margin: 0 15px 15px 15px;
}

.open--modal {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
}